### Database ###
postgres=User ID=btcpay;Password=123456;Host=localhost;Port=5432;Database=btcpay;



#eth.postgres=User ID=btcpay;Password=123456;Host=localhost;Port=5432;Database=ethbtcpay;
 

#eth.eth.rcpurl=http://192.168.41.93:8510
#eth.eth.wsurl=ws://192.168.41.93:8547


#eth.eth.rcpurl=http://localhost:8501
#eth.eth.wsurl=ws://localhost:8547


ethexplorercookiefile="D:\VS_New\Trading Engine\z.Sample_Trading Engine\btcpayserver\NBXplorer\data\RegTest\.cookie"
ethexplorerurl=http://127.0.0.1:24444