### Database ###
postgres=User ID=btcpay;Password=123456;Host=localhost;Port=5432;Database=btcpay;

debuglog=btcpayserver.log

#mainnet - testnet - regtest
network=regtest

# Verbose = 0,Debug = 1,Information = 2,Warning = 3,Error = 4,Fatal = 5
debugloglevel=Information


#eth.postgres=User ID=btcpay;Password=123456;Host=localhost;Port=5432;Database=ethbtcpay;
 
#eth.eth.rcpurl=http://192.168.41.93:8510
#eth.eth.wsurl=ws://192.168.41.93:8547

ethexplorercookiefile="$NBXplorer_Cookie_Location"
ethexplorerurl=http://127.0.0.1:24444

 

### Server settings ###
#port=23000
#bind=127.0.0.1
#httpscertificatefilepath=devtest.pfx
#httpscertificatefilepassword=toto

### Database ###
#postgres=User ID=root;Password=myPassword;Host=localhost;Port=5432;Database=myDataBase;
#mysql=User ID=root;Password=myPassword;Host=localhost;Port=3306;Database=myDataBase;
   